langchain
langchain-openai
langchain-community
openai
streamlit
streamlit-agraph
pyvis
networkx
pydantic
python-dotenv
azure-search-documents
azure-core
sqlalchemy
pandas
plotly
graphviz
chromadb
tiktoken
langgraph
reportlab
azure-storage-blob
pandas
openpyxl
sqlglot

